@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

nav {
    display: grid;
    place-items: center;
    padding: 0px 10px;
    background-color: #0E46A3;
    border-radius: 10px;
    color: #fff;
    min-height: 100px;
}

.judul {
    font-size: 30px;
    max-width: auto;
    text-transform: uppercase;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.toko {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.toko h1 {
    background-color: #008DDA;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
}

.produk {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.produk1 {
    border: 1px solid #000;
    color: black;
    padding: 1em;
    margin: 1em;
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
    max-height: 300px;
    min-width: 580px;
    min-height: 280px;
}

.produk1 img {
    border-radius: 10px;
    max-width: auto;
    max-height: 200px;
    margin-right: 1em;
}

.product-details {
    font-size: large;
}

.produk1 h2 {
    font-size: 50px;
}
