@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus&display=swap');

nav {
    display: grid;
    place-items: center;
    padding: 0px 10px;
    background-color: #0E46A3;
    border-radius: 10px;
    color: #fff;
}

.judul-navbar {
    font-size: 30px;
    max-width: auto;
    text-transform: uppercase;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.kategori {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding: 10px;
    margin: 50px 100px;
}

.item {
    font-family: "Arbutus", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #9AC8CD;
    color: #000;
    text-decoration: none;
    font-size: 24px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1 1 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.item:hover {
    background-color: #1E0342; /* Warna kuning lebih gelap saat hover */
    color: #fff;
}
